.container{
    padding: 10px;
    border: solid 1px #121810;
    border-radius: 10px;
    background-color: #020A12;
    box-shadow: 1px 2px 20px #000814;
    width: 700px;
    display: block;
    margin: auto;
}

.containerTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #020A12;
}

.title{
    color: #F1E8E5;
    background-color: #020A12;
}

.contador{
    color: #F1E8E5;
    background-color: #020A12;
    border-bottom: solid 1px #1B7EDA;
    padding: 4px;
}

.list{
    padding: 4px;
    margin: 4px;
    font-size: 20px;
    color: #F1E8E5;
    text-transform: uppercase;
    list-style: none;
    background-color: #020A12;
}

.alunos{
    margin:5px;
    padding: 8px;
    border: 1px solid #1669B6;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.input{
    display: flex;
    justify-content: center;
    background-color: #020A12;
}

.inputAlunos{
    border: none;
    height: 40px;
    width: 500px;
    padding: 4px;
    background-color: #1B7EDA;
    margin-right: 20px;
    border-radius: 6px;
    font-size: 1.1rem;
    color: #F1E8E5;
}

.btnAluno{
    border: none;
    height: 40px;
    width: 200px;
    background-color: #1B7EDA;
    border-radius: 6px;
    font-size: 1rem;
    color: #F1E8E5;
    cursor: pointer;
}

.btnAluno:hover{
    background-color: #1669B6;
}

.btnRemove{
    background-color: rgb(196, 12, 12);
    border: none;
    border-radius: 4px;
    padding: 4px;
    color: #F1E8E5;
    font-weight: 700;
}